<tr>
  <td><%= link_to client.first_name + " " + client.last_name, client, class:"link-secondary" %></td>
  <td><%= client.email %></td>
  <td><%= client.phone %></td>
  <td><%= client.mail_address %></td>  
  <td><%= client.user_id %></td>  
</tr>